*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: #8A8;
}

h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}

legend{
    font-size: 1.5em;
}

#student-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}


fieldset:last-of-type{
    margin-top: 2em;
}

h2{
    color: #555;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}

.content{
    background: #fff;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    margin-bottom: 5px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: auto;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

li span{
    display: block;
}

li span{
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

li span:nth-child(1){
    font-size: 24px;
    color: #000;
    margin-top: 0;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

form input{
    float: left;
    margin-right: 5em;
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 1.2em;
}

input[name="nome"], input[name="data_nascimento"] {
    display: inline-block;
    width: 48%;
    margin-right: 4%;
}

input[name="data_nascimento"] {
    margin-right: 0;
}

#cpf-input, #rg-input { 
    display: block; 
    float: none; 
    margin-right: 0; 
    width: 100%; 
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #929292;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    display: block;
    background: #fff;
    border-radius: 10px;
    padding: 1em;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    transition: 200ms;
    font-weight: bold;
    color: #999;
    margin: auto;
    margin-top: 2em;
}

button:hover{
    background: #999;
    color: #fff;
    cursor: pointer;
}
